/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
	background:none;
    color: #9B9B9B;
    font-weight:bold;
    cursor: pointer;
    padding: 18px;   
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom:1px solid #D3DBE8;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    color:black;
}

/* Style the accordion panel. Note: hidden by default */
div .extend {
    padding: 0 18px;
    display: none;
    transition: all .3s ease;
}

div .extend p {
	margin-top:15px;
}