html,body{
	font-family: 'Open Sans', sans-serif;
}
.learn{

	color:white;
	background:#FE6500;
	border-radius:5px;
	padding:15px;
	transition: all .4s ease;
	font-weight: bold;
	margin-top: 15px;
	&:hover{
		background:#CB5100;
		text-decoration: none;
		color:white;
	}
}