#info{

	background:$infoColor;
	height: 60px;
	
	.section{

		line-height: 60px;
		
		a{
			color:black;
		}

		i{
			color:#554E9F;
		}

		.sm{
			font-size: 15px;
			padding:0 10px;
			color:#9B9B9B;
			text-decoration: none;

			&:hover{
				color:#554E9F;
			}
		}

	}

}