#welcome{

	.textSection{
		margin-top: 50px;
		h2{
			color:#554E9F;
			font-family: 'Amatic SC', cursive;
			font-size: 50px;
			font-weight: bold;
		}
	}

	.imgFrame{
		margin-top: 50px;
		margin-bottom:50px;

		img{
			margin:0 auto;
		}
	}

	@media(max-width:967px){
		text-align: center;
	}

}

#fewWords{
	@extend #welcome;
}